<p>
  <button (click)="onLoadDocument()">Carregar documento</button>
  <button (click)="save()">Gravar</button>
</p>
<p>
  <button (click)="previousPage()">Página Anterior</button>
  <button (click)="nextPage()">Próxima Página</button>
  <button (click)="adicionarComentario()">Adicionar Comentario</button>
</p>

<br/>

<form [formGroup]="editorForm" (ngSubmit)="onSubmit()">
    <quill-editor #editor [style]="editorStyle" formControlName="editor"></quill-editor>
    <button>Submit</button>
</form>


<h4>Tags</h4>

<a *ngFor="let value of metaData; index as i" class='comment-link' href='#' data-index='" + i +"' (click)="selectTag(value)">
    <li class='list-group-item'>{{value.comment}}</li>
</a>

<hr>
<div style="margin-top: 20px; overflow-wrap: break-word;">
  <pre>Página: {{ page | json }}</pre>
  <hr>
  <pre>Conteúdo: {{ conteudo | json }}</pre>
</div>
